@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Aleo", serif;
}

button {
    border: 1px solid #000;
    cursor: pointer;
    transition: all ease 0.5s;
    @apply tw-px-4 tw-py-2;

    &:hover {
        background: #000;
        color: #fff;
    }
}
